body {
  background-color: #f4f5f6;
}
.main-header {
  max-width: 1350px;
  padding-left: 0;
  padding: 0;
}

.top-header {
  background-color: #f72210;
  height: 95px;
  padding: 20px 10px 15px;
  position: relative;
}

date {
  color: white;
  padding-left: 2%;
}

svg {
  width: 396px;
  height: 60px;
  position: absolute;
  left: 50%;
  top: 20%;
  fill: white;
  transform: translate(-50%, 0);
}

#sign-btn {
  background: transparent;
  color: white;
  border: none;
  font-weight: bold;
  font-size: 1em;
  letter-spacing: -1px;
}

#subscribe-btn {
  border-radius: 0;
  color: #f72210;
  font-weight: bold;
}

#header-nav {
  padding-top: 15px;
  padding-bottom: 15px;
  background: white;
  position: relative;
  padding-right: 90px;
  border-bottom: 2px solid #f4f5f6;
}

#header-nav::before {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  display: block;
  background-color: #f72210;
  border-left: 12px solid white;
  border-top: 13px solid #f72210;
  width: 6%;
}

#header-nav ul {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}

#header-nav ul div {
  flex-basis: 100%;
  text-align: center;
  border-right: 1px solid darkgray;
}

.long {
  flex-shrink: 1;
}
.short {
  flex-shrink: 1.05;
}

#header-nav ul li {
  font-weight: bold;
  color: black;
}

#header-nav ul .last {
  border-right: none;
  display: inline-block;
  position: relative;
  margin-left: 1%;
}

#header-nav ul .last li {
  color: grey;
  font-weight: normal;
  font-size: 1.05em;
  display: inline-block;
}

.last img {
  width: 20px;
  height: 20px;
  position: relative;
  vertical-align: text-bottom;
  display: inline-block;
}

.content {
  max-width: 1348px;
  background: white;
  margin-top: 0;
  padding: 1.5%;
  padding-bottom: 0;
}

.content-title {
  color: rgba(3, 3, 3, 0.4);
  font-size: 0.9em;
  font-weight: bold;
  margin-bottom: 10px;
}

.card {
  width: 100%;
  border-left: none;
  border-right: none;
  border-top: none;
  margin-top: 10px;
}

.card-body {
  padding-top: 15px;
  padding-left: 0;
  padding-right: 0;
}

.card-title {
  font-size: 1.2em;
  margin-bottom: 0;
  font-weight: bold;
}

.card-text {
  margin-top: 5px;
  line-height: 1.25em;
}

.sing-title {
  font-size: 1.1em;
  margin-bottom: 15px;
}

.hr-card {
  padding-top: 15px;
  padding-bottom: 15px;
  max-width: 100%;
}

.hr-card img {
  width: 135px;
  height: 90px;
  float: left;
  margin-right: 10px;
}

.opinion-container img {
  margin-right: 10px;
  float: left;
  width: 63px;
  height: 63px;
}
.opinion-container h5 {
  margin-bottom: 5px;
}

.opinion-container h6 {
  color: grey;
  font-size: 0.9em;
  font-weight: bold;
  margin-top: 0;
}

.last-card {
  border-bottom: none;
  margin-bottom: 30px;
}

#latest-img {
  width: 135px;
  height: 90.1px;
}

.latest-container {
  padding-bottom: 10px;
}

.sign-up-container {
  margin-bottom: 30px;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #e5e5e5;
  background-color: #f4f5f6;
}

.sign-up-container > * {
  margin-top: 5px;
  font-weight: bold;
}

.sign-up-container h6 {
  margin-top: 10px;
  font-size: 0.9em;
}

#magazin-container {
  max-width: 1350px;
  background: white;
}

.f-mag-items img {
  width: 100%;
}

.f-mag-items div {
  margin-top: -1px;
  font-weight: bold;
  text-align: center;
  padding: 7px;
  background-color: #f4f5f6;
}

.mag-title {
  font-weight: bold;
  width: 100%;
}

.mag-title span {
  background: #f72210;
  color: white;
  padding: 5px;
  font-weight: 900;
}

.mg-title-container {
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 10px;
  margin-bottom: 20px;
  text-align: center;
}

.mag-items img {
  width: 100%;
  height: 290px;
}

#key-word {
  background: #f72210;
  color: white;
  display: inline-block;
  margin-top: 10px;
  padding: 5px;
  font-weight: bold;
}

#type {
  margin-top: 10px;
  margin-left: 8px;
  display: inline-block;
  font-weight: bold;
  color: #f72210;
}

.mag-item-detail {
  font-weight: bold;
}

.other-row {
  padding-left: 15px;
  padding-right: 15px;
}

.other-title {
  margin-top: 15px;
  font-size: 1.3em;
}

.other-img-container {
  position: relative;
}

.other-img-container img {
  width: 100%;
  height: auto;
}

.lbl {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 5px;
  background: #e5e5e5;
  font-weight: bold;
  color: #f72210;
}

.mag-item-title {
  font-size: 1.2em;
  font-weight: bold;
}

.other-detail {
  line-height: 1.15em;
}

.card-img-top {
  width: 100%;
}

.imggg-container {
  position: relative;
}
.slide-container {
  width: 70px;
  height: 52px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: url("../imgs/icon-slideshows-nw.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: #f72210;
  font-size: 1.4em;
}

.slide-text {
  position: absolute;
  right: 16px;
  bottom: 5px;
}

.row-row {
  border-top: 1px solid #d9d9d9;
  padding-top: 20px;
}

.this-card {
  border-bottom: none;
}

.type-title {
  width: 100%;
  font-weight: bold;
  color: #f72210;
  font-size: 1.3em;
}

.hide {
  display: block;
}

@media only screen and (max-width: 976px) {
  .top-header {
    height: 40px;
    padding-top: 0;
  }

  .hide {
    display: none;
  }

  svg {
    widows: 131.9px;
    height: 20.05px;
    left: 8%;
    padding: 0;
  }

  #sign-btn {
    height: 26px;
    font-size: 14px;
    padding-top: 2px;
    margin-top: 5px;
  }

  #subscribe-btn {
    height: 26px;
    font-size: 14px;
    padding-top: 2px;
    margin-top: 5px;
  }

  .btn-container {
    position: absolute;
    right: 1%;
    top: 1%;
  }

  .mag-items img {
    height: auto;
  }
}

@media only screen and (max-width: 751px) {
  .mag-title {
    margin-top: 20px;
  }

  
}
